@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body {
    padding: 0;
    margin: 0;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(
        180deg,
        #9370db 5.36%,
        #8a2be2 35.54%,
        #9400d3 100%
    );
}

@keyframes zoomInOut {
    0% {
        font-size: 84px; /* Початковий розмір тексту */
        transform: translateY(-50%) rotate(-3deg);
    }
    50% {
        font-size: 90px; /* Максимальний розмір тексту */
        transform: translateY(-50%) rotate(3deg);
    }
    100% {
        font-size: 84px; /* Знову повертаємо до початкового розміру */
        transform: translateY(-50%) rotate(-3deg);
    }
}

.title {
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.title h1 {
    margin-top: 12%;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-weight: 850;
    font-size: 90px;
    font-style: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    animation: zoomInOut 3s ease-in-out infinite;
    transform-origin: center;
}
.title img {
    object-fit: contain;
    right: 0;
}

.all_quiz {
    width: 40%;
    flex-wrap: wrap;
    margin-left: 5px;
}

.button_quiz {
    background-color: #6a5acd;
    color: RGB(255, 255, 255);
    border: 4px double gainsboro;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 5px;
    height: auto;
    padding: 20px;
    cursor: pointer;
}

.button_num_quiz {
    font-family: Arial;
    display: flex;
    font-weight: normal;
}

.avtor_quiz {
    float: right;
    margin-top: -10px;
}

.button_quiz:hover {
    background: #483d8b;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
}

.select-bar {
    width: 45%;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #483d8b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.select-bar div {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.select-bar a {
    width: 30%;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #6a5acd;
    border: 2px solid #6a5acd;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.select-bar a:hover {
    background-color: #30295c;
    border-color: #483d8b;
    color: #fff;
}
