# Файли, пов'язані з середовищем віртуального оточення
venv/

# Файли, що створюються під час роботи розробника
__pycache__/
*.pyc
*.pyo
*.pyd

# Середовище збереження та файли конфігурації для VS Code
.vscode/
.env

# Файли логів та файли, що створюються різними інструментами розробки
logs/
*.log

# Ваша БД (якщо ви використовуєте SQLite)
*.sqlite3

# Файли налаштувань та файли змінених параметрів
*.ini
*.conf

# Збережені файли пакетів та залежностей
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.egg-info/
dist/
build/