<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login Page</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='profile/style_reg.css') }}"
        />
    </head>
    <body>
        <button id="loginBtn">Login</button>

        <div class="modal" id="loginModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Login</h2>
                <form id="loginForm">
                    <label for="username">Username:</label>
                    <input type="text" id="username" required /><br /><br />
                    <label for="password">Password:</label>
                    <input type="password" id="password" required />
                    <button id="showLoginPassword" type="button">
                        Show Password</button
                    ><br /><br />
                    <input type="submit" value="Login" />
                </form>
                <button id="registerBtn">Register</button>
            </div>
        </div>

        <div class="modal" id="registerModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Register</h2>
                <form id="registerForm">
                    <label for="newUsername">Username:</label>
                    <input type="text" id="newUsername" required /><br /><br />
                    <label for="newPassword">Password:</label>
                    <input type="password" id="newPassword" required />
                    <button id="showRegisterPassword" type="button">
                        Show Password</button
                    ><br /><br />
                    <input type="submit" value="Create Profile" />
                </form>
            </div>
        </div>

        <script src="{{ url_for('static', filename='profile/script_reg_pass.js') }}"></script>
        <script
            type="module"
            src="{{ url_for('static', filename='profile/script_auth.js') }}"
        ></script>
    </body>
</html>
