<!DOCTYPE html>
</html>
<html lang="ua">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='main/main.css') }}"
        />
        <title>Quiz_logika</title>
    </head>

    <body>
        <div class="title">
            <h1>Quiz Logika scholl</h1>
            <img
                src="https://thumb.tildacdn.com/tild3639-6566-4361-b139-366564386566/-/resize/274x/-/format/webp/Group_1580-min.png"
            />
        </div>
        <main>
            <div class="all_quiz">
                <!-- <div class="button_quiz" id="0">
                    <h3 class="button_num_quiz">Quiz 1</h3>
                    <h1>Title</h1>
                    <h3 class="avtor_quiz">Avtor</h3>
                </div> -->
            </div>
            <div class="select-bar">
                <h1>Навігатор</h1>
                <a id="add_quiz" onclick="alert('Спочатку увійдіть в систему')"
                    >Додати тест</a
                >
                <div>
                    <a href="{{ url_for('login') }}">Увійти</a>
                    <h1>/</h1>
                    <a href="{{ url_for('register') }}">Рейстрація</a>
                </div>
            </div>
        </main>

        <script
            type="module"
            src="{{ url_for('static', filename='main/main.js') }}"
        ></script>
    </body>
</html>
