<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='main/main.css') }}"
        />
        <title>Quiz_logika</title>
    </head>

    <body>
        <div class="title">
            <h1>Quiz Logika scholl</h1>
            <img
                src="https://thumb.tildacdn.com/tild3639-6566-4361-b139-366564386566/-/resize/274x/-/format/webp/Group_1580-min.png"
            />
        </div>
        <div class="all_quiz">
            <!-- <div class="button_quiz">
                <h1 class="button_text_quiz">Quiz1</h1>
            </div>
            <div class="button_quiz">
                <h1 class="button_text_quiz">Quiz2</h1>
            </div>
            <div class="button_quiz">
                <h1 class="button_text_quiz">Quiz3</h1>
            </div>
            <div class="button_quiz">
                <h1 class="button_text_quiz">Quiz4</h1>
            </div>
            <div class="button_quiz">
                <h1 class="button_text_quiz">Quiz5</h1> -->
            </div>
        </div>
        <script src="{{ url_for('static', filename='main/main.js') }}"></script>
    </body>
</html>
