<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='auth/style_auth.css') }}"
        />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="modal-content">
            <form id="Form">
                <h2>{% block title_auth %}{% endblock %}</h2>
                {% block userName %}{% endblock %}
                <label for="Email">Пошта:</label>
                <div class="input-container">
                    <input type="text" id="Email" required />
                </div>
                <label for="Password">Пароль:</label>
                <div class="input-container">
                    <input type="password" id="Password" required />
                    <button id="showPassword" type="button">Показати</button>
                </div>
                <p style="color: red"></p>
                <input
                    type="submit"
                    value="{% block text_submit %}{% endblock %}"
                />
            </form>
        </div>

        <script src="{{ url_for('static', filename='auth/script_pass_show.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>
