body {
    padding: 0;
    margin: 0;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(
        180deg,
        #9370db 5.36%,
        #8a2be2 35.54%,
        #9400d3 100%
    );
}

.content {
    margin-left: 20px;
}

.profile-photo {
    border-radius: 50%;
    margin-right: 50px;
}

.profile {
    display: flex;
    align-items: center;
}
